/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/microservice-discovery-eureka/mvnw
/microservice-discovery-eureka/mvnw.cmd
/microservice-discovery-eureka/target/
/microservice-provider-user/target/
/microservice-consumer-movie/target/
/*/.idea/
/microservice-discovery-eureka/.mvn/
/microservice-provider-user/.idea/
/microservice-discovery-eureka-ha/.mvn/
/microservice-discovery-eureka-ha/target/
/microservice-discovery-eureka-ha/mvnw
/microservice-discovery-eureka-ha/mvnw.cmd
/microservice-discovery-eureka-auth/mvnw
/microservice-discovery-eureka-auth/mvnw.cmd
/microservice-discovery-eureka-auth/.mvn/
/microservice-discovery-eureka-auth/target/
/microservice-consumer-movie-ribbon-customizing/target/
/microservice-consumer-movie-ribbon/target/
