/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/microservice-discovery-eureka/mvnw
/microservice-discovery-eureka/mvnw.cmd
/microservice-discovery-eureka/target/
/microservice-provider-user/target/
/microservice-consumer-movie/target/
/*/.idea/
